.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
body {
  margin: auto;
  width: 50%;
  font-size: 20px;
  padding: 10px;
  font-family: "Arial", Times, serif;
  background-color: #a9bfc9;
}
